Task_1_Simple_project/.vs/
Task_1_Simple_project/Task_1_Simple_project.vcxproj.user
Task_2_The_project_is_more_complicated/.vs/
Task_2_The_project_is_more_complicated/Task_2_The_project_is_more_complicated.vcxproj.user